In [3]:
import pandas as pd
import snscrape.modules.twitter as snstwitter
from tqdm import tqdm

## Bitcoin

In [4]:
tweet_perday = []
df = pd.DataFrame([])

for i in tqdm(range(400), total=400):
    j = pd.to_datetime('2020-01-01').date() + pd.Timedelta(days=i)
    k = pd.to_datetime('2020-01-01').date() + pd.Timedelta(days=i+1)
    query = f'(btc OR bitcoin OR cryptocurrency OR crypto OR blockchain OR $btc) min_faves:100 lang:en until:{k} since:{j} -is:nullcast'
    tweets = []
    limits = 10000

    for tweet in snstwitter.TwitterSearchScraper(query).get_items():
        if len(tweets) == limits:
            break
        else:
            tweets.append([tweet.date, tweet.retweetCount,tweet.replyCount, tweet.likeCount,tweet.content])
        
    tweet_perday.append(len(tweets))
    temp = pd.DataFrame(tweets, columns=['Date', 'Retweet', 'Reply', 'Likes', 'Tweet'])
    df = pd.concat([df, temp.sort_values('Likes', ascending=False)], ignore_index=True)

100%|██████████| 400/400 [59:15<00:00,  8.89s/it]

In [5]:
df.to_csv('BTC_Tweets_v2.csv')

In [6]:
df.shape

(73884, 5)

In [7]:
df.tail()

,Date,Retweet,Reply,Likes,Tweet
73879,2021-02-03 08:13:47+00:00,44,10,113,SMASH OR PASS? \n\nClick this link to join thi...
73880,2021-02-03 19:16:04+00:00,4,16,112,It's not gay if it's Saylor right..?? \n#Bitco...
73881,2021-02-03 04:22:43+00:00,4,6,108,My favorite 3rd-order effect of #bitcoin adopt...
73882,2021-02-03 17:06:41+00:00,1,9,106,"Bitcoin at 37,000 and I'm still in the red lma..."
73883,2021-02-03 06:30:14+00:00,93,7,95,Shorts 4k\nJoggers 5k\nHoodies 5k\nJerseys 5k\...

In [8]:
pd.Series(tweet_perday).to_csv('BTC_tweet_perday_v2.csv')

## Ethereum

In [9]:
tweet_perday = []
df = pd.DataFrame([])

for i in tqdm(range(400), total=400):
    j = pd.to_datetime('2020-01-01').date() + pd.Timedelta(days=i)
    k = pd.to_datetime('2020-01-01').date() + pd.Timedelta(days=i+1)
    query = f'(eth OR ether OR ethereum OR cryptocurrency OR crypto OR blockchain OR $eth) min_faves:100 lang:en until:{k} since:{j} -is:nullcast'
    tweets = []
    limits = 10000

    for tweet in snstwitter.TwitterSearchScraper(query).get_items():
        if len(tweets) == limits:
            break
        else:
            tweets.append([tweet.date, tweet.retweetCount,tweet.replyCount, tweet.likeCount,tweet.content])
        
    tweet_perday.append(len(tweets))
    temp = pd.DataFrame(tweets, columns=['Date', 'Retweet', 'Reply', 'Likes', 'Tweet'])
    df = pd.concat([df, temp.sort_values('Likes', ascending=False)], ignore_index=True)

100%|██████████| 400/400 [34:56<00:00,  5.24s/it]

In [10]:
df.to_csv('ETH_Tweets_v2.csv')

In [11]:
df.shape

(34922, 5)

In [12]:
df.head()

,Date,Retweet,Reply,Likes,Tweet
0,2020-01-01 08:18:15+00:00,122,57,975,If you bought any crypto and it went up over 1...
1,2020-01-01 20:15:56+00:00,161,179,933,I found @CryptoKitties the most interesting cr...
2,2020-01-01 01:24:27+00:00,52,29,868,Happy New Year to all you great people in the ...
3,2020-01-01 12:53:38+00:00,77,47,776,$ETH\n\nTime to play the range. https://t.co/I...
4,2020-01-01 06:54:45+00:00,207,84,732,Crypto companies by number of fulltime employe...

In [13]:
pd.Series(tweet_perday).to_csv('ETH_tweet_perday_v2.csv')