In [71]:
import pandas as pd
import snscrape.modules.twitter as snstwitter

## Bitcoin

In [116]:
tweet_perday = []
df = pd.DataFrame([])

for i in range(38):
    j = pd.to_datetime('2021-08-01').date() + pd.Timedelta(days=i)
    k = pd.to_datetime('2021-08-01').date() + pd.Timedelta(days=i+1)
    query = f'(btc OR bitcoin OR cryptocurrency OR crypto OR blockchain OR $btc) min_faves:100 lang:en until:{k} since:{j} -is:nullcast'
    tweets = []
    limits = 100000

    for tweet in snstwitter.TwitterSearchScraper(query).get_items():
        if len(tweets) == limits:
            break
        else:
            tweets.append([tweet.date, tweet.retweetCount,tweet.replyCount, tweet.likeCount,tweet.content])
        
    tweet_perday.append(len(tweets))
    temp = pd.DataFrame(tweets, columns=['Date', 'Retweet', 'Reply', 'Likes', 'Tweet'])
    df = pd.concat([df, temp.sort_values('Likes', ascending=False)[:500]], ignore_index=True)

In [117]:
df.to_csv('BTC_Tweets.csv')

In [120]:
df.shape

(17835, 5)

In [118]:
df.head()

,Date,Retweet,Reply,Likes,Tweet
0,2021-08-01 12:14:58+00:00,2125,1146,14393,A node is an altar to truth. A wallet is a wea...
1,2021-08-01 06:52:59+00:00,2125,484,13517,"#bitcoin July closing price $41,490 ... it bou..."
2,2021-08-01 05:33:57+00:00,3259,952,12759,Bitcoin mining is really bad for the environme...
3,2021-08-01 05:05:19+00:00,1786,27,11749,You can't stop #bitcoin by talking badly about...
4,2021-08-01 20:30:14+00:00,6714,4689,10799,üì£ Wierd Finance Airdrop is live!\n\nüèÜ Reward f...

In [119]:
pd.Series(tweet_perday).to_csv('BTC_tweet_perday.csv')

## Ethereum

In [109]:
tweet_perday = []
df = pd.DataFrame([])

for i in range(38):
    j = pd.to_datetime('2021-08-01').date() + pd.Timedelta(days=i)
    k = pd.to_datetime('2021-08-01').date() + pd.Timedelta(days=i+1)
    query = f'(eth OR ether OR ethereum OR cryptocurrency OR crypto OR blockchain OR $eth) min_faves:100 lang:en until:{k} since:{j} -is:nullcast'
    tweets = []
    limits = 100000

    for tweet in snstwitter.TwitterSearchScraper(query).get_items():
        if len(tweets) == limits:
            break
        else:
            tweets.append([tweet.date, tweet.retweetCount,tweet.replyCount, tweet.likeCount,tweet.content])
        
    tweet_perday.append(len(tweets))
    temp = pd.DataFrame(tweets, columns=['Date', 'Retweet', 'Reply', 'Likes', 'Tweet'])
    df = pd.concat([df, temp.sort_values('Likes', ascending=False)[:500]], ignore_index=True)

In [110]:
df.to_csv('ETH_Tweets.csv')

In [115]:
df.head()

,Date,Retweet,Reply,Likes,Tweet
0,2021-08-01 20:30:14+00:00,6714,4689,10799,üì£ Wierd Finance Airdrop is live!\n\nüèÜ Reward f...
1,2021-08-01 13:00:36+00:00,2360,77,10282,Crypto bro learns a valuable lesson about nfts...
2,2021-08-01 01:18:44+00:00,13506,9008,7084,"$500 CRYPTO || 6,8 JUTA IDR\n|| one winner || ..."
3,2021-08-01 06:31:45+00:00,13546,5853,6982,"$500 CRYPTO || 6,8 JUTA IDR\n|| one winner || ..."
4,2021-08-01 13:33:00+00:00,323,280,6536,Only future #crypto millionaires or billionair...

In [114]:
pd.Series(tweet_perday).to_csv('ETH_tweet_perday.csv')